# --- Database (Ubah YOURPASSWORD dengan password PostgreSQL Anda) ---
DATABASE_URL=postgresql://postgres:123456@host.docker.internal:5432/studyfy

# JWT
SECRET_KEY=nexasdf3r@#14(*h&#)(jdhm02G$#fDd123
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# CORS
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# --- App Settings ---
APP_ENV=development
DEBUG=true

# --- Server ---
APP_HOST=0.0.0.0
APP_PORT=8000