# --- Database (Ubah YOURPASSWORD dengan password PostgreSQL Anda) ---
DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/cloudapp

# --- App Settings ---
APP_ENV=development
DEBUG=true

# --- Server ---
APP_HOST=0.0.0.0
APP_PORT=8000