# UI Test Result
Hasil testing aplikasi untuk mengecek apakah sistem berfungsi dengan baik

## 1. Tes Menambahkan Item
Tes manambahkan suatu item
<img src = "ui-test-result-img/tes tambah item.png">

Hasil menambahkan suatu item
<img src = "ui-test-result-img/tes hasil tambah item.png">

## 2. Tes Tabel Harga Kosong
Tes mengosongkan tabel harga suatu item
<img src = "ui-test-result-img/tes harga kosong.png">

## 3. Tes Tabel Nama Kosong
Tes mengosongkan tabel nama suatu item
<img src = "ui-test-result-img/tes nama kosong.png">

## 4. Tes Nilai Stok dan Harga Minus
Tes nilai stok menjadi minus pada suatu item
<img src = "ui-test-result-img/tes jumlah stok minus.png">

Tes nilai harga menjadi minus pada suatu item
<img src = "ui-test-result-img/tes harga minus.png">

## 5. Tes Tabel Deskripsi Kosong
Tes mengosongkan tabel deskripsi suatu item
<img src = "ui-test-result-img/tes deskripsi kosong.png">

Hasil tes mengosongkan tabel deskripsi suatu item
<img src = "ui-test-result-img/tes hasil deskripsi kosong.png">

## 6. Tes Edit Item
Tes edit informasi suatu item seperti deskripsi, nama, harga, atau stok
<img src = "ui-test-result-img/tes edit item.png">

Hasil tes edit informasi suatu item seperti deskripsi, nama, harga, atau stok
<img src = "ui-test-result-img/tes hasil edit item.png">

## 7. Tes Edit Stok Jadi 0
Tes mengubah nilai Stok suatu item menjadi 0
<img src = "ui-test-result-img/tes edit stok 0.png">

Hasil tes mengubah nilai Stok suatu item menjadi 0
<img src = "ui-test-result-img/tes hasil edit stok 0.png">

## 8. Tes Hapus Item
Tes menghapus suatu item
<img src = "ui-test-result-img/tes hapus item.png">

Hasil tes menghapus suatu item
<img src = "ui-test-result-img/tes hasil hapus item.png">

## 9. Tes Mencari Nama Item
Tes mencari nama depan suatu item
<img src = "ui-test-result-img/tes cari nama depan item.png">

Tes mencari nama belakang suatu item
<img src = "ui-test-result-img/tes cari nama belakang item.png">

## 10. Tes Mencari Nama Item Yang Tidak Ada
Tes mencari nama suatu item yang tidak ada/belum dibuat/telah dihapus
<img src = "ui-test-result-img/tes cari item tidak ada.png">